.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #C0DBEA;
}

h1 {
  margin: 30px;
  font-family: 'monospace', cursive;
  text-shadow: 4px 0 #232931;
  font-size: 4rem;
  color: #ff0000;
}

p {
  font-size: 4rem;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 75%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 6rem;

}
