.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #C0DBEA;
}

h1 {
  margin: 30px;
  font-family: 'monospace', cursive;
  text-shadow: 4px 0 #b0b7c0;
  font-size: 4rem;
  color: #080d49;
}

p {
  font-size: 4rem;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

table {
  border: 5px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 5px solid black;
  padding: 10px;
}



footer {
  margin-top: 75%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 6rem;

}
